<%= render partial: "shared/nav" %>
<br>

<section id="bulk-discounts"
<h3> My Bulk Discounts: </h3>
  <% @bulk_discounts.each do |discount| %>
      <p><%= link_to "Bulk Discount #{discount.id}", merchant_bulk_discount_path(@merchant, discount) %></p>
    <p>Quantity Threshold: <%= discount.quantity_threshold %>
    <p>Percent Discount: <%= discount.percent_discount %>
    <%= button_to "Delete Bulk Discount #{discount.id}", merchant_bulk_discount_path(@merchant, discount), method: :delete, class: "delete-button" %>
    <br>
  <% end %>
</section>
<br>

<section id="create-discount">
<%= link_to "Create New Bulk Discount", new_merchant_bulk_discount_path(@merchant) %>
</section>